/bootstrap/compiled.php
/vendor
composer.phar
composer.lock
.env.*.php
.env.php
.DS_Store
Thumbs.db
.idea/
/wordpress/wp-content/uploads/
/wordpress/wp-config.php
/wordpress/wp-config-sample.php
/wordpress/wp-admin/error_log
/public/packages
npm-debug.log
